/target/
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
release.properties

.vscode/

*.log
log/
logs/

.DS_Store
Thumbs.db         

*.class
*.jar
*.war
*.ear
*.zip
*.rar

.env
.project
.classpath
.settings/

/resources/output/
/temp/
/extracted_data/